extends layout

block content
	h1 Chat App
	form(id='message-form' class='form-inline' method='POST' action='/messages')
		div.form-group
			label(for='user') Your Username &nbsp;
			input.form-control(type='text' name='user') 
		div.form-group
			&nbsp;
			label(for='user') Message &nbsp;
			input.form-control(type='text' name='text') 
			&nbsp;
		button.btn.btn-default(type='submit') Send Message
	hr
	table.table.table-striped.table-condensed(id='messages-container')
		thead
			tr
				th Sent
				th Username
				th Message
				th IP
		tbody
